<div id="<%= dom_id examination %>">
  <p>
    <strong>Title:</strong>
    <%= examination.title %>
  </p>

  <p>
    <strong>Expected date:</strong>
    <%= examination.expected_date %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= examination.course_id %>
  </p>

</div>
